:root {
  --text: #001a4e;
  --bg: #fdfdf5;

  --header-bg: #818bcc;

  --nav-bg: #333333;
  --nav-link: #ffffff;
  --nav-hover: #575757;

  --card-bg: #ffffff;
  --border: #cccccc;

  --link: #000000;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--bg);
}

header {
    background-color: var(--header-bg);
    color: var(--text);
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.flex-nav {
    display: flex;
    justify-content: center;
    background-color: var(--nav-bg);
}

.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-nav li {
    margin: 0 15px;
}

.flex-nav a {
    text-decoration: none;
    color: var(--nav-link);
    padding: 10px 15px;
    display: block;
}

.flex-nav a:hover {
    background-color: var(--nav-hover);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.album {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.figure img {
    width: 100%;
    height: auto;
}

.informacoes {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-color: var(--header-bg);
    color: var(--text);
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--link);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--nav-bg);
    color: var(--nav-link);
    border: none;
    font-size: 18px;
}

.card {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: var(--card-bg);
    margin: 10px;
    flex: 1 0 21%;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .flex-nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .flex-nav ul.show {
        display: flex;
    }

    .flex-nav li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 480px) {
    .card {
        height: auto;
    }

    .card img {
        height: auto;
        max-width: 50%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}